<p>FIGHT !</p>
<button id="play_pause_button" [disabled]="battle.isFinished" (click)="togglePause()">{{battle.isPaused ? 'Play' : 'Pause'}}</button>
<button id="reset_button" (click)="initialize()">Reset</button>
<app-battle-arena [fighters]="battle.fighters"></app-battle-arena>
<table border="3" style="border-radius: 10px; padding: 5px; border-color: black; width: 556px;">
  <div *ngFor="let action of battle.actions">
    <tr appLogColor color="{{action.color}}">{{action.content}}</tr>
  </div>
</table>

