#container {
  position: relative;
}

#name {
  position: absolute;
}

#level {
  white-space: nowrap;
  position: absolute;
  left: 135px;
}

#hp {
  white-space: nowrap;
  position: absolute;
  top: 22px;
}

#hp_bar {
  position: absolute;
  top: 25px;
  left: 90px;
}
