#container {
  position: relative;
}

#name {
  position: absolute;
}

#level {
  white-space: nowrap;
  position: absolute;
  left: 135px;
}

#hp {
  white-space: nowrap;
  position: absolute;
  top: 22px;
}

#hp_bar {
  position: absolute;
  top: 24px;
  left: 90px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 15px;
  background-color: grey;
}

#remaining_hp {
  height: 15px;
  background-color: green;
  border: 0 solid black;
  border-radius: 10px;
}
